
@{
    ViewBag.Title = "Login";
}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form class="form-control" action="/" method="post" style="margin-top:150px;">
                <h2 style="text-align:center">Login</h2>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div style="color:red">@ViewBag.Message</div>
                }
                <br />
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    <div>
                        <label for="username" style="padding-left:40px">Username:</label>
                        @Html.TextBox("username", null, new { @class = "form-control", type = "text" ,@Style="margin-left:40px" })
                    </div>
                    <div>
                        <label for="password" style="padding-left:40px">Password:</label>
                        @Html.TextBox("password", null, new { @class = "form-control", type = "password", @Style = "margin-left:40px" })
                    </div>
                    <button class="btn btn-primary form-control" style="margin-top:20px;" type="submit">Login</button>
                }
            </form>
        </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<<div>